body{
	background-image: linear-gradient(to right, rgba(255,0,0,0.5), rgba(0,0,100,1));
}
.container{
	background-image: linear-gradient(to bottom left, rgba(255,255,255,0), rgba(255,255,255,0.7));
	width: 60%;
	margin: auto;
	margin-top: 20px;
}
h1{
	padding-top: 20px;
	font-style: italic;
	text-align: center;
}
.bluetext{
	color: blue;
}
.btn{
	float: right;
}
.error{
	color: brown;
	font-style: italic;
	font-size: 12px;
}
#accor{
	font-size:12px;
}
.accordion{
	width:50%;
	margin: auto;
	display: none;
}
.card-header{
	background-color: rgba(100,100,100,0.5);
	justify-content: center;
}
